* {text-align: center;}


h1 {font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white
}

.header, #design {background-image: url("./css/image/the-flatiron-building.png");

}

#design {font-size: 23px;
        font-weight: bold;
      color: white;
}

a {color: white;
    font-size: 18px;
    text-align: left;

}

.directory {list-style-type: none;
}

h2 {font-size: 32px;
  font-weight: bold;
}

h3 {font-size: 23px;
  font-weight: bold;}

p {font-size: 14px}

.footer {text-align: left;
        font-size: 11px;
        color: white;
        background-color: dimgray;
      }
