* {text-align: center;
  list-style-type: none;}

.head, #design {background-image: url("/css/image/the-flatiron-building.png");
                background-repeat: no-repeat;
                background-position: center;}


h1 {font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white
}


#design {font-size: 23px;
        font-weight: bold;
      color: white;
}


nav, a {color: white;
    font-size: 18px;
    text-decoration: underline;
    display: block;
}

h2 {font-size: 32px;
  font-weight: bold;
}

h3 {font-size: 23px;
  font-weight: bold;}

p {font-size: 14px}

.footer {justify-content: flex-start;
        font-size: 11px;
        color: white;
        background-color: dimgray;
        display: flex;
        align-items: baseline;
        white-space: normal;

      }
